.container {
    width: 60%;
    margin: 40px;
}

.tag-container {
    display: flex;
    align-items: center;

    border: 2px solid #ccc;
    border-radius: 5px;

    padding: 10px;
}

.tag-container .tag {
    display: flex;
    align-items: center;

    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;

    margin: 5px;
    padding: 5px;
}

.tag-container .material-icons {
    font-size: 16px;
    cursor: pointer;

    margin-left: 5px;

    transition: .2s ease;
}

.tag-container .material-icons:hover {
    transform: scale(1.15);
}

.tag-container .material-icons:active {
    transform: scale(1.02);
}

.tag-container input {
    flex: 1;
    font-size: 16px;
    border: 0;
    outline: none;

    padding: 5px;
}